.hero {
    margin-top: -123px;
    padding-top: 153px;
    width: 100%;
    height: 900px;
    background-image: url("../img/heroimage.jpg");
    h1,
    h2,
    h3 {
        text-align: right;
        text-transform: uppercase;
    }
}
.wellcome {
    background-color: #ffffff;
    margin-top: -480px;
}